<launch>
    
    <arg name="sim" default="--sim"/> <!--roslaunch swarm crazyswarm.launch sim:="sim" -->

    <rosparam command="load" file="$(find swarm)/config/crazyflies.yaml"/>
    <rosparam command="load" file="$(find swarm)/config/algorithm_params.yaml"/>

    <node pkg="swarm" type="setup.py" name="setup" output="screen"/>

    <node pkg="swarm" type="multi_agent_gen_gazebo.py" name="multi_agent_gen_gazebo" output="screen"/>
    
    <node pkg="swarm" type="takeoff_iris.py" name="takeoff"/>

    <!-- node pkg="swarm" type="mission_planner.py" name="mission_planner" output="screen"/-->

</launch>